@use "@/styles/variables" as *;

.content {
  display: flex;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content-description {
  flex: 1 1 auto;
  width: 50%;
  border-radius: 20px 0 0 20px;
  background-color: $foreground;
  padding: 20px;
  gap: 50px;
  display: flex;
  color: $background;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    margin: 20px 0px;
  }
}

.content-description-tag {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 10px;
  * {
    border-radius: 30px;
    padding: 2px 10px;
    border: solid black 1px;
  }
}

.content-description-status {
  margin: 10px 0;
  font-style: italic;
}
.content-description-link {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  img {
    width: 35px;
    height: 35px;

    border-radius: 10px;
    &:hover {
      background-color: gray;
    }
  }
}
.content-description-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.content-caraousel-container {
  flex: 1 1 auto;
  width: 50%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.content-caraousel {
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content-caraousel-images-potrait {
  width: 200px !important;
  height: 300px !important;
}
.content-caraousel-images-landscape {
  width: 400px !important;
  height: 200px !important;
  object-fit: contain;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 90vw;
    height: 600px;
  }
  .content-caraousel-container {
    border-radius: 20px 20px 0 0 !important;
    border: "solid white 1px" !important;
    width: 90vw;
  }
  .content-caraousel-images-potrait {
    height: 200px !important;
    width: 150px !important;
  }
  .content-caraousel-images-landscape {
    width: 300px !important;
  }

  .content-description {
    width: 90vw;
    border-radius: 0 0 20px 20px;
    align-items: center;
    height: fit-content;
    gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .content-description-tag {
    justify-content: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 450px;
    height: 700px;
  }
  .content-caraousel-container {
    border-radius: 20px 20px 0 0 !important;
    border: "solid white 1px";
    width: 100%;
  }
  .content-caraousel-images-potrait {
    height: 300px !important;
    width: 180px !important;
  }
  .content-caraousel-images-landscape {
    width: 400px !important;
  }

  .content-description {
    border-radius: 0 0 20px 20px;
    align-items: center;
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  .content-description-tag {
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
  .content {
    width: 700px;
  }
  .content-caraousel-container {
    width: 350px;
  }
  .content-caraousel-images-potrait {
    height: 300px !important;
    width: 200px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
  .content-caraousel-images-potrait {
    width: 200px !important;
    height: 300px !important;
  }
}
