.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  color: white;
}

.photo {
  width: 20vw;
  height: fit-content;
  border: solid 1px;
  border-color: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  transition: all;
  transition-duration: 600ms;
}

.photo-inactive {
  width: 0;
  opacity: 0;
  transform: translateY(-100px);
}

.photo-content {
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-radius: 50%;
  border-color: white;
}
