.biography {
  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: start;
  align-items: start;
  transition: all;
  transition-duration: 600ms;
  transition-delay: 500ms;
}

.biography * {
  line-height: 3rem;
  font-weight: 100;
}

.biography-inactive {
  width: 0;
  opacity: 0;
  transform: translateX(100px);
}

.biography h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 1000 !important;
}
.biography .description {
  line-height: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .biography {
    margin-left: 0px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .biography {
    margin-left: 0px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .biography {
    margin-left: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
