.mySkill {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  transition: width opacity;
  transition-duration: 300ms;
  transition-delay: 500ms;
}

.mySkill-inactive {
  width: 0;
  opacity: 0;
}

.mySkill h2 {
  margin-bottom: 50px;
  font-weight: 100;
  line-height: 2rem;
}

.mySkill h4,
h5 {
  margin: 0;
}
.skill {
  cursor: not-allowed;
  display: flex;
  width: 0;
  opacity: 0;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.skill-active {
  width: 70%;
  opacity: 100%;
}

.skill-title {
  width: 50%;
  text-align: end;
}

.skill-level {
  opacity: 0;
  width: 50%;
  transition: opacity;
  transition-duration: 300ms;
}

.skill-level-active {
  opacity: 100;
}

.line {
  width: 0%;
  height: 3px;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: width;
  transition-duration: 3000ms;
}
