.mySkill {
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: center;
  align-items: center;
}

.mySkill-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 4rem));
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mySkill h2,
h4,
h5 {
  font-weight: 100;
  line-height: 2rem;
}
.mySkill h4,
h5 {
  margin: 0;
}

.skill {
  overflow: hidden;
  object-fit: contain;
}

.skill:hover {
  cursor: pointer;
}

.skill::before {
  position: absolute;
  text-align: center;
  content: "";
  width: 0px;
  height: 20px;
  color: var(--foreground);
  background-color: var(--foreground);
  transition: none;
  font-size: 0;
}

.skill:hover::before {
  content: attr(data--skill);
  width: 170px;
  transition: width 0.4s ease-out, color 200ms 400ms, font-size 5ms 400ms;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0px;
  color: var(--background);
  font-size: 1rem;
  transform: translateX(-100px);
  transform: translateY(-40px);
}

.skill img {
  width: 50px;
  height: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mySkill {
    gap: 25px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(3, minmax(0, 5rem));
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .mySkill {
    gap: 50px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(6, minmax(0, 6rem));
  }
  .skill:hover::before {
    font-size: 1.3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .mySkill {
    gap: 50px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(6, minmax(0, 8rem));
  }
  .skill:hover::before {
    font-size: 1.3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
