@use "../../variables" as *;

.navbar {
  z-index: 10;
  color: $foreground-navbar;
  background-color: $background-navbar;
  border: 0 0 0 1px;
  border: black solid;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}
.navbar-container {
  width: 80vw;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 1.5rem;
  flex: 1;
  cursor: pointer;
}

.list-nav {
  gap: 30px;
}

.list {
  font-size: 1.5rem;
  text-decoration: none;
  color: $foreground-navbar;

  &::before {
    text-align: end;
    position: absolute;
    content: "";
    margin-top: 30px;
    width: 0px;
    height: 3px;
    opacity: 0.7;
    background-color: $foreground-navbar;
    transition: width 0.4s ease-out;
  }
  &:hover::before {
    width: 50px;
  }
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .list {
    display: none;
    transition: none !important;
    transition-duration: 0m;
    transform: translateX(0px) !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .list {
    display: none;
    transition: none !important;
    transition-duration: 0m;
    transform: translateX(0px) !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
