@use "../../../variables" as *;

.list-nav {
  width: 90%;
  height: 85vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 70px;
  position: fixed;
  z-index: 10;

  ul {
    float: right;
    width: 100%;
    height: 100%;
    padding: 40px;
    border: thick black solid;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    li {
      list-style-type: none;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      display: flex;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .close-btn {
    display: inline-block;
  }

  .number-list {
    display: none;
  }
  .list-nav {
    width: 100vw;
    height: 100%;
    top: 0;
    ul {
      margin-top: 20px;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      width: 100%;
      height: 100%;
      li {
        text-align: center;
      }
    }
  }
  .list-nav-close {
    width: 0 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .close-btn {
    display: inline-block;
  }

  .number-list {
    display: none;
  }
  .list-nav {
    width: 100vw;
    height: 100%;
    top: 0;
    ul {
      margin-top: 20px;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      width: 100%;
      height: 100%;
      li {
        text-align: center;
      }
    }
  }
  .list-nav-close {
    width: 0 !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
