@use "@/styles/variables" as *;

.biography {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  * {
    line-height: 3rem;
    font-weight: 100;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 1000 !important;
  }
}

.description {
  line-height: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .biography {
    margin-left: 0px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .biography {
    margin-left: 0px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  .biography {
    margin-left: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
