@use "../../variables" as *;

.mySkill {
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: center;
  align-items: center;

  h2,
  h4,
  h5 {
    line-height: 2rem;
  }

  h4,
  h5 {
    margin: 0;
  }
}

.mySkill-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 4rem));
  gap: 10px;
}

.skill {
  place-self: center;
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 100ms, transform 700ms;

  &:hover {
    cursor: pointer;
  }
  &::before {
    position: absolute;
    text-align: center;
    content: "";
    width: 0px;
    height: 20px;
    color: $foreground;
    background-color: $foreground;
    transition: none;
    font-size: 0;
  }
  &:hover::before {
    content: attr(data--skill);
    width: 180px;
    transition: width 0.4s 0ms, color 200ms 400ms, font-size 5ms 600ms;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0px;
    color: $background;
    font-size: 1rem;
    transform: translateX(-100px);
    transform: translateY(-40px);
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.skill-active {
  opacity: 1;
  transform: translateY(0px);
}
/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .mySkill {
    gap: 25px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(3, minmax(0, 5rem));
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .mySkill {
    gap: 50px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(6, minmax(0, 6rem));
  }
  .skill:hover::before {
    font-size: 1.3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
  .mySkill {
    gap: 50px;
  }
  .mySkill-grid {
    grid-template-columns: repeat(6, minmax(0, 8rem));
  }
  .skill:hover::before {
    font-size: 1.3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
