@use "../../variables" as *;

.text {
  color: $foreground;
  height: 4.5rem;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .text {
    font-size: 3rem;
    height: 6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .text {
    font-size: 3.5rem;
    height: 3.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
  .text {
    font-size: 4.5rem;
    height: 4.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
