$foreground: white;
$background: black;
$background-navbar: black;
$foreground-navbar: white;
$cursor-color: white;

@mixin respond($breakpoint) {
  @if ($breakpoint == extraLarge) {
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == large) {
    @media only screen and (max-width: 992px) and (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == medium) {
    @media only screen and (max-width: 768px) and (min-width: 600px) {
      @content;
    }
  }
  @if ($breakpoint == small) {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}
