@use "../../../variables" as *;

.line {
  background-color: $foreground-navbar;
  width: 100%;
  height: 2px;
  transition-property: transform opacity;
  transition-duration: 500ms;
}

.line-1-onClick {
  transform: translateY(7px) rotate(45deg);
}

.line-2-onClick {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
}

.line-3-onClick {
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: opacity 500ms 1s;
  opacity: 0;
  pointer-events: none;
  gap: 10px;
  overflow: hidden;
  border: solid $foreground-navbar 1px;
  border-radius: 25px;

  &:hover {
    background-color: gray;
    border-radius: 25px;
    cursor: pointer;
  }
}

.hamburger-active {
  opacity: 1;
  pointer-events: all;
}

.title {
  width: 0;
  opacity: 0;
  transition: all;
  transform: translateX(50px);
  transition-duration: 250ms;
  transition-delay: 0s;
  animation-duration: 250ms;
}

.title-active {
  transition-duration: 250ms;
  transition-delay: 1s;
  width: 50px;
  opacity: 1;
  transform: translateX(0);
}

.title-hover {
  animation-name: titleslidein;
  animation-direction: alternate;
  animation-iteration-count: 2;

  @keyframes titleslidein {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(40px);
    }
  }
}

.title-unhover {
  animation-name: titleslideout;
  animation-direction: alternate;
  animation-iteration-count: 2;

  @keyframes titleslideout {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-40px);
    }
  }
}

.lines {
  height: 30px;
  display: flex;
  padding: 5px 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 40px;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .hamburger {
    opacity: 1;
    pointer-events: all;
    border: none;
  }
  .line-1-onClick,
  .line-2-onClick,
  .line-3-onClick {
    background-color: black;
  }
  .title {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@include respond(medium) {
  .hamburger {
    opacity: 1;
    pointer-events: all;
    border: none;
    z-index: 99;
  }
  .line-1-onClick,
  .line-2-onClick,
  .line-3-onClick {
    background-color: black;
  }
  .title {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(large) {
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(extraLarge) {
}
